{% extends 'aged/base.html' %}

{% block pagename %} Upload sales people {% endblock %}

{% block body %}
<div class="div_menu_no_border">
{% if request.method == 'GET' %}
<form class="form_upload_files" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <label class="label_form">Upload .xlsx file containing Customer Name, Customer Number, Sales Rep, Customer Care Agent. They are case sensitive and there should not be a blank space before or after each heading. For now they need to be in this order. Empty rows and columns at the begining are removed automatically</label>
  <br>
  <input class="input_submit" type="file" name="file_1" accept=".xlsx" required>
  <br>
  <input class= "input_submit" type="submit" name="Submit">
</form>
{% else %}
<label class="label_form">File <span style ="color:red"> uploaded succesfully </span></label>
<pre>{{ messageCreate }}</pre>
{% for user in accountsToCreate %}
<p> {{ user }} </p>
{% endfor %}
<pre style="color:red">{{ messageDelete }}</pre>
{% for user in accountsToDelete %}
<p style="color:red"> {{ user }} </p>
{% endfor %}
<pre>{{ message }}</pre>
<br>
<a class="a_menu" href="{% url 'fileupload' %}">Go back</a>
{% endif %}
</div>
{% endblock %}
