{% extends 'aged/base.html' %}

{% block pagename %} Upload sales people {% endblock %}

{% block body %}
  <div class="div_menu_no_border">
  {% if request.method == 'GET' %}
    <form class="form_upload_files" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <label class="label_form">Upload .xlsx file containing Customer Name, Customer Number, Sales Rep, Customer Care Agent. They are case sensitive and there should not be a blank space before or after each heading. For now they need to be in this order. Empty rows and columns at the begining are removed automatically</label>
      <br>
      <input id="id_file_field" class="input_submit" type="file" name="file_1" accept=".xlsx" required>
      <br>
      <input id="id_submit_file" class= "input_submit" type="submit" name="Submit">
    </form>
    <p style="color:red">{{error_msg}}</p>
    {% else %}
    <label class="label_form"><span id="upload_status" style ="color:red"> {{upload_status}} </span></label>
    <pre>{{ message_create }}</pre>
    {% for user in accounts_to_create %}
    <p> {{ user }} </p>
    {% endfor %}
    <pre style="color:red">{{ message_delete }}</pre>
    {% for user in accounts_to_delete %}
    <p style="color:red"> {{ user }} </p>
    {% endfor %}
    <pre id="id_message">{{ message }}</pre>
    <br>
    <a class="a_menu" href="{% url 'upload_files' %}">Go back</a>
  {% endif %}
  </div>
{% endblock %}

